.header {
  background: var(--gray-700);
  height: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

.header_logo img {
  width: 22px;
  margin-right: 0.75rem;
}

.header_logo h1 {
  color: var(--blue);
  font-size: 2.5rem;
  font-weight: 900;
}

.header_logo h1 span {
  color: var(--purple-dark);
}

.header_form {
  position: absolute;
  height: 3.375rem;
  max-width: 46rem;
  width: 100%;
  bottom: calc(-3.375rem / 2);
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
}

.header_form input {
  flex: 1;
  padding: 0 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-700);
  background: var(--gray-500, #262626);
  color: var(--gray-100);
  font-weight: 400;
  line-height: 140%;
}

.header_form input::placeholder {
  color: var(--gray-300);
}

.header_form button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 1rem;
  border-radius: 0.5rem;

  background: var(--blue-dark);
  color: var(--gray-100);

  font-size: 0.875rem;
  font-weight: 700;

  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.header_form button:hover {
  background: var(--blue);
}
